.logo{
 width: 70%;
 margin: 5%;
 text-align: center;
}

.banner{
width: 100%;
height: 60cap;

}
.redes1{
  width: 10vh;
  padding: 0%;
  margin: 5vh;
}
.redes2{
  width: 10vh;
  padding: 0%;
  margin: 1vh;
}
.text1{
  color: rgb(193, 5, 5);
}
.text2{
  color: rgb(70, 70, 70);
}

.info2part2{
  width: 100%;
}
.infonews{
  width: 100%;
}